
<h1>Microsft ASP.Net Web Pages Razor Demo Arge</h1>

<p> Bu ornekte Microsoft'un WebMatrix IDE'si ile webPages platformu ile ilgili 
    </br> , razor view Engine'i kullanarak bir demo calismasi yapiyoruz </p>
 
 

