@{
    var toplam = 0;
    var toplamSonuc = "";

    if(IsPost) {

        var num1 = Request["text1"];
        var num2 = Request["text2"];

        toplam = num1.AsInt() + num2.AsInt();
        toplamSonuc = "Toplam = " + toplam;
    }
}

<h1> Toplama_PostDemo </h1>

 <p>2 Tam Sayi Giriniz  => <strong>Topla</strong>.</p>

        <form action="" method="post">

            <p><label for="text1">1.Sayi:</label>
                <input type="text" name="text1" />
            </p>

            <p><label for="text2">2.Sayi:</label>
                <input type="text" name="text2" />
            </p>

            <p><input type="submit" value="Topla" /></p>

        </form>

<p>@toplamSonuc</p>

