<h1>MediaPlayer Video</h1> 

     @Video.MediaPlayer( 
         path: "Media/intro.swf", 
         width: "640", 
         height: "480", 
         autoStart: true, 
         playCount: 1, 
         uiMode: "full", 
         stretchToFit: false, 
         enableContextMenu: true, 
         mute: false, 
         volume: 30) 