@{
    var cacheItemKey = "Time";
    var cacheHit = true; 
    var time = WebCache.Get(cacheItemKey);

    if (time == null) {
        cacheHit = false;
    } 
    if (cacheHit == false) { 
        time = @DateTime.Now;
         WebCache.Set(cacheItemKey, time, 1, false);
    }
}

<h1>WebCache Demo </h1>

    <div>
        @if (cacheHit) {
            @:Found the time data in the cache.
        } else {
            @:Did not find the time data in the cache.
        }
    </div>
    <div>
        This page was cached at @time.
    </div>