@helper NotOlustur(string not) {
        <div class="note" style="border: 1px solid black; width: 90%; padding: 5px; marginleft: 15px;">
    <p>
        <strong>Razor Helper Text : </strong>&nbsp;&nbsp; @not
    </p>
</div> 
}