@{
       Page.Title = "Kullanici Bloke Edildi";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Kullanici Bloke edildi.</h2>
</hgroup>

<p>
    60 saniye icinde kullanici tekrar aktive edilecektir.
</p>