@{
       Page.Title = "Kayit Konformasyon";

    string message = "";
    var confirmationToken = Request["confirmationCode"];

    WebSecurity.Logout();
    if (!confirmationToken.IsEmpty()) {
        if (WebSecurity.ConfirmAccount(confirmationToken)) {
            message = "Kayit Konforme edildi! Siteye Giris icin tiklayiniz .";
        } else {
            message = "Konformasyon basarili olamadi.";
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Konformasyon icin asagidaki formu kullaniniz.</h2>
</hgroup>

@if (!message.IsEmpty()) {
    <p>@message</p>
} else {
    <form method="post">
        <fieldset>
            <legend>Konformasyon Kodu</legend>
            <ol>
                <li>
                    <label for="confirmationCode">Konformasyon Kodu</label>
                    <input type="text" id="confirmationCode" name="confirmationCode" />
                </li>
            </ol>
            <input type="submit" value="Konforme Ediniz" />
        </fieldset>
    </form>
}