     <p>Razor Arge WebPage &copy; 2013 by Oktay ARI</p>
     <p>Paylas: @LinkShare.GetHtml("LinkShare Ornek")</p>

    @Facebook.LikeButton(
        href: "http://oktayari70.blogspot.com", 
        action: "recommend",
        width: 250,
        showFaces: true,
        colorScheme: "dark")   



