<div id="menuList" >
 <ul>
     <li><a href="Default">AnaSayfa</a> </li>
     <li><a href="RenderSectionDemo">RenderSectionDemo</a> </li>
     <li><a href="ForForEachDemo">ForForEachDemo</a> </li>
     <li><a href="Toplama_PostDemo">Toplama_PostDemo</a> </li>
     <li><a href="GosterSaklaDemo">GosterSaklaDemo</a> </li>
     <li><a href="RazorHelperDemo">RazorHelperDemo</a> </li>
     <li><a href="FormPostDemo">FormPostDemo</a> </li>
     <li><a href="ListKisi">DbTableDemo</a> </li>
     <li><a href="WebGridDemo">DbWebGridDemo</a> </li>
     <li><a href="ChartDemo">ChartDemo</a> </li>
     <li><a href="FileIODemo">FileIODemo</a> </li>
       <li><a href="FileUpload">FileUploadDemo</a> </li>
     <li><a href="ImageDemo">ImageDemo</a> </li>
     <li><a href="VideoDemo">VideoDemo</a> </li>
     <li><a href="EmailDemo">EmailDemo</a> </li>
     <li><a href="WebCache">WebCache</a> </li>
     <li><a href="AppAndPageGlobalsDemo">AppAndPageGlobalsDemo</a> </li>
     <li><a href="SecurityDemo">SecurityDemo</a> </li>
   
      <li>Hakkinda</li>
      <li>Iletisim</li>
     <li><a href="ServerInfo">ServerInfo</a> </li>
     <li><a href="Trace.axd">TraceInfo</a> </li>
 </ul>
</div>
